{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": false
		},
		"target": "esnext",
		"keepClassNames": true,
		"transform": {
			"legacyDecorator": false,
			"decoratorMetadata": false
		}
	},
	"module": {
		"type": "commonjs",
		"noInterop": true
	}
}
